= form_for @invoice, :html => { :multipart => true } do |f|

  -if @invoice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@invoice.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @invoice.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :client_id
    = f.select :client_id, @clients

  .field.date
    = f.label :date
    = f.date_select(:date, :default => Date.today, :order => [:month, :day, :year], :start_year => Date.today.year, :end_year => Date.today.year + 3)
	
    = f.fields_for :line_items do |builder|

      %table
        %tr
          %td
            = builder.label :qty
            = builder.text_field :qty
          %td
            = builder.label :description
            = builder.text_field :description
          %td
            = builder.label :price
            = builder.text_field :price

        %tr
          %td
            = builder.label :qty
            = builder.text_field :qty
          %td
            = builder.label :description
            = builder.text_field :description
          %td
            = builder.label :price
            = builder.text_field :price

  .actions
    = f.submit 'Save'