#invoice

  %h1 Invoice

  %p== Invoice ID/Reference: #{@invoice.id}
  %p== Invoice Date: #{@invoice.date}
  %p 
    Payment Due:
    %strong== #{@invoice.date + 30.days} (30 days)

  %p== To: #{@client.name}
  %p== From: #{@user.name} 

  %table#invoice
    %tr
      %th Qty
      %th Description
      %th Price
      %th Total
    
    #nested_line_items
      - @invoice.line_items.each do |line_item|
 
        %tr
          %td= line_item.qty
          %td= line_item.description
          %td= line_item.price
          %td= (line_item.qty * line_item.price)

  %h2== Total #{@invoice.total}

  %p Thanks for your custom. If you have any questions about this invoice don't hesitate to get in touch.
