%tr
  %td
    = builder.label :qty
    = builder.text_field :qty
  %td
    = builder.label :description
    = builder.text_field :description
  %td
    = builder.label :price
    = builder.text_field :price