%h1 Invoices

%h3== Total to date: #{user_currency(current_user.invoice_total)}
%h3== This Month : #{user_currency(current_user.amount_invoiced_for_month(Time.now.strftime('%A')))}


= render 'shared/chart'

%p= paginate @invoices

%table
  %tr
    %th Id
    %th Date
    %th Client
    %th Amount
    %th Delete
 
  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.id, invoice
      %td
      %td
      %td
      %td= link_to 'Delete', invoice, :method => :delete, :confirm => 'Are you sure?'

= link_to 'New invoice', new_invoice_path, :class => 'button'
   