= form_for @issue do |f|
  -if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label "Project"
    = f.select :project_title, current_user.projects.collect{ |project| [project.title, project.title] }

  .field
    = f.label :description
    = f.text_field :description

  .field
    = f.hidden_field :raised_by, :value => current_user.name
  
  .actions
    = f.submit 'Save'
