%h1 Listing issues

%p= paginate @issues

-if current_user.issues.present?

  %table
    %tr
      %th Title
      %th Project
      %th Description
      %th
      %th
      %th

    - @issues.each do |issue|
      %tr
        %td= issue.title
        %td= issue.project_title
        %td= issue.description
        %td= link_to 'Show', issue
        %td= link_to 'Edit', edit_issue_path(issue)
        %td= link_to 'Destroy', issue, :confirm => 'Are you sure?', :method => :delete

- else 
  
  %h3 Horray! No issues on any of your projects. You totally rock!

%br

= link_to 'New Issue', new_issue_path, :class => 'button'
