<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<div id='chart'></div>

<script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawMouseoverVisualization);

// barsVisualization must be global in our script tag to be able
// to get and set selection.
var barsVisualization;

function drawMouseoverVisualization() {
	
	var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Year');
	        data.addColumn('number', 'Sales');
	        data.addColumn('number', 'Expenses');
	        data.addRows([
	          ['January', <%= current_user.amount_invoiced_for_month('january')%>, 0],
	          ['February', <%= current_user.amount_invoiced_for_month('february')%>, 0],
	          ['March', <%= current_user.amount_invoiced_for_month('march')%>, 0],
	          ['April', <%= current_user.amount_invoiced_for_month('april')%>, 0],
	          ['May', <%= current_user.amount_invoiced_for_month('may')%>, 0],
	          ['June', <%= current_user.amount_invoiced_for_month('june')%>, 0],
	        ]);
	

	barsVisualization = new google.visualization.ColumnChart(document.getElementById('chart'));

	barsVisualization.draw(data, {
	width: 1000, 
	height: 300,
	colors: ['#537085', '#EEEEEE'],
	chartArea: {left:40,top:30, width:"75%",height:"70%"},
	legendTextStyle: {color:'#666666'}});
	
}

</script>


