%h1 Projects

- if @projects.blank?
  %p You don't have any projects yet.
- else
  %table
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

    - @projects.each do |project|
      %tr
        %td= link_to project.title, project
        %td= project.description
        %td= link_to 'Show', project
        %td= link_to 'Edit', edit_project_path(project)
        %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

  %br

= link_to 'New Project', new_project_path, :class => 'button'
