%h1= @project.title
%p= @project.description

%p= link_to 'Edit', edit_project_path(@project)

%ul.project_meta
  %li== Active : #{@project.active_yes_no?}
  %li== Type : #{@project.project_type}
  %li== Client : #{find_client}

= render 'stats'

= render 'tasks'

= render 'issues'

%h3 Collaborators

= avatar_url(current_user)



