%h1= @project.title
%p= @project.description

%p= link_to 'Edit', edit_project_path(@project)

%ul.project_meta
  %li== Active : #{@project.active_yes_no?}
  %li== Type : #{@project.project_type}
  %li== Client : #{find_client}

= render 'stats'

%h3= pluralize @issues.size, 'Issue'

%table
  %tr
    %th Issue
    %th Last updated

  - @issues.each do |issue|
    %tr
      %td= issue.title
      %td= pretty_date issue.updated_at

%h3= pluralize @tasks.size, 'Task'

%table
  %tr
    %th Task
    %th Last updated

  - @tasks.each do |task|
    %tr
      %td= task.title
      %td= pretty_date task.updated_at

%h3 Collaborators

= avatar_url(current_user)



