%p#notice= notice

%h1= @project.title
<<<<<<< HEAD
%p= @project.description
=======

%p= @project.description

%p= @project.project_type
>>>>>>> 7a55de974b5827416cebe3bad55fb447d54dfcf8

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
