%h1= @project.title
%p= @project.description

%ul.project_meta
  %li== Active: #{@project.active_yes_no?}
  %li== Type: #{@project.project_type}

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
