#user_stats
  %li
    = current_user.projects.size
    %span= stats_plural "projects"
  %li
    = current_user.clients.size
    %span= stats_plural "clients"
  %li
    = current_user.tasks.size
    %span= stats_plural "tasks"
    