%h1 Dashboard

= avatar_url(current_user)

- if current_user.first_login?
  = render 'first_login'
-else
  = render 'stats'
  = render 'updates'

%br
%h3 Your API key
%code= @current_user.api_key







