%h2= @upload.title
%p= @upload.category
%p=@upload.file_content_type

- if @upload.is_public?
  %p Copy the URL below to share your file with others.
  %pre
    %code
      ="#{root_url}uploads/#{@user.id}/share/#{@upload.id}"

  %p=link_to 'Public URL', "#{@user.id}/share/#{@upload.id}"

- if @upload.image?
  %img{:src => @upload.file, :alt => @upload.title}

%br 

= link_to 'Edit', edit_upload_path(@upload)
\|
= link_to 'Back', uploads_path
