!!!5
%html{:class => 'no-js', :lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title FunnelHQ | Business Management for Freelancers
    %script{:src =>'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    
    %link{:href =>'http://fonts.googleapis.com/css?family=Lato:400,700', :rel =>'stylesheet', :type =>'text/css'}
    %link{:href =>'http://fonts.googleapis.com/css?family=PT+Serif:400,700', :rel =>'stylesheet', :type =>'text/css'}

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'	
    = csrf_meta_tags

  #nav
    = render 'shared/nav'

  %body
    #sidebar
      %ul
        %li{:class => "#{nav_link_class('dashboards')}"}
          =link_to 'Dashboard', dashboard_path
          %span Your dashboard

        %li{:class => "#{nav_link_class('projects')}"}
          =link_to 'Projects', projects_path
          %span Manage projects

        %li{:class => "#{nav_link_class('tasks')}"}
          = link_to 'Tasks', tasks_path
          %span Manage tasks
 
        %li{:class => "#{nav_link_class('clients')}"}
          = link_to 'Clients', clients_path
          %span Manage clients

        %li{:class => "#{nav_link_class('invoices')}"}
          = link_to 'Invoices', invoices_path
          %span Manage invoices

        %li{:class => "#{nav_link_class('issues')}"}
          = link_to 'Issues', issues_path
          %span Assign issues to projects

        %li{:class => "#{nav_link_class('uploads')}"}
          = link_to 'Uploads', uploads_path
          %span Upload files

    #main
      - flash.each do |key, msg|
        = content_tag :div, msg, :class => "#{key}" 

      =yield
