= form_for @account do |f|

  -if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :time_zone
    = f.time_zone_select( "time_zone", nil, :default => "Pacific Time (US & Canada)" )

  .field
    = f.label :currency
    = f.select :currency, current_user.account.currency_array.map{|curr| [curr, curr]}

  .actions
    = f.submit 'Save'